@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Galindo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #171717;

    font-family: "Galindo", serif;
    font-weight: 400;
    font-style: normal;
    color: #eee;

    user-select: none;
}



.hide {
    display: none !important;
}

.entity {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;

    .name {
        font-size: 3em;
    }

    .health {
        width: 300px;
    }
}

.player {
    margin-left: auto;
}

.health {
    width: 100%;
    height: 1.5em;
    background-color: rgba(48, 48, 48, 0.4);
    border: 1px solid #eee;

    .fill {
        width: 100%;
        height: 100%;
        background-color: crimson;

        transition: width 250ms ease-in-out;
    }
}

.bleeding {
    color: #b20a29;
}

.battle {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 350px;

    .viewport {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .terminal {
        background-color: #2e2e2e;
        width: 100vw;
        height: 100%;

        .screen {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .prompt {
                font-size: 1.5em;
                margin: 16px auto;
            }
        }
    }
}

.spells {
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    overflow: auto;

    align-items: center;
    justify-content: center;

    > div {
        position: relative;
        height: 100%;
        aspect-ratio: 1/1.4;

        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        background-color: #e0a95d;
        color: black;

        flex-basis: 250px;
        flex-grow: 0;
        flex-shrink: 0;

        .title {
            font-size: 1.5em;
            margin: 0;
        }

        & > .disabled-overlay {
            display: none;
        }

        &.disabled > .disabled-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(77, 43, 51, 0.49);

            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background-color: #bbbbbb;
            }
        }

        .description {
            text-align: center;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    height: 100%;

    .dismiss {
        color: #aaa;
    }
}